{% extends "market/base.html" %}
{% load django_bootstrap5 %}
{% load static %}


{% block title %}
    House Aces
{% endblock title %}


{% block style %}
    <style>

        .section-1{
            display:flex;
            width: 89%;
            height:70vh;
            margin:0% 5% ;
            padding: 3% ;
            border:none;
            outline:none;
            border-radius:30px;
        }
        .s-1-r{
            width:100%;
            display:flex;
            color: darkorange;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
        .s-1-r h1{
            color:#fff; 
            font-width:900;
            font-size:150px;
            letter-spacing: 15px;
        }
        .s-1-r p{
            font-size:30px;
            color:#eee;
            font-width:100;
        }

        .bn32 {
            border: solid darkorange;
            padding: 0.6em 2.3em;
            cursor: pointer;
            font-size: 1em;
            color: #000080;
            font-weight:800;
            background-color: transparent;
            background-image: linear-gradient(45deg, transparent 50%, darkorange 50%);
            background-position: 25%;
            background-size: 400%;
            -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
            transition: background 500ms ease-in-out, color 500ms ease-in-out;
          }
          
          .bn32:hover {
            color: #ffffff;
            background-position: 100%;
          }
    </style>
{% endblock style %}


{% block content %}

    <div class="main">
        <div class="section-1">
            <div class="s-1-r">
                <h1>House Aces</h1>
                <p>We give the best, you choose even better!</p>
                <div class="s-1-r-b">
                    <a href="{% url 'signin' %}"><button class="bn-32 bn32" type="submit">Sign In</button></a>

                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}