{% extends "market/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    Update proposal
{% endblock title %}

{% block content %}
    <h1>Update proposal</h1>
    
    <form mathod='POST'   enctype="multipart/form-data">


        {{form.title}}
        {{form.image}}
        {{form.description}}
        {{form.address}}
        {{form.num_of_rooms}}
        {{form.price}}
        {{form.space}}
        <span>{{error}}</span>
        <button type="submit" class="btn btn-success">Update proposal</button>
    </form>
{% endblock content %}

