{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/image-removebg-preview.png' %}">
    <title>Sign In</title>
</head>
<body>
    {% if messages %}
        <span class="messages">
            {% for message in messages %}
            {% bootstrap_messages %}
            {% endfor %}
        </span>
    {% endif %}

    
    <h1>Sign In</h1>

    <form action="/signin" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name='username' id="username" placeholder="Enter your username" required>
        <br>    
        <label for="password">Password</label>
        <input type="password" name='password' id="password" placeholder="Enter your password" required>
        <br>
        
        <button type="submit">Sign In</button>
    </form>



    <script>
        setTimeout(function() {
            // Найти все элементы с классом "messages" и скрыть их
            document.querySelectorAll('.messages').forEach(function(element) {
                element.style.display = 'none';
            });
        }, 2000);
    </script>
</body>
{% bootstrap_css %}
<style>

</style>
</html>